<div class="row">
    <form action="/search" class="navbar-search">
        <input name="wordsline" type="text" placeholder="<%= I18n.t('search.site_search') %>" class="search-query span10" value="<%= @query %>" size="60">
        <input type="submit" value="<%= I18n.t('search.button') %>" onclick="this.form.searchline.focus();" />
    </form>
</div>
<p></p>
<% if @results_by_type %>
    <% @results_by_type.each do |type_name, results| %>
        <div class="row">
            <span class="headers1"><%= I18n.t(type_name) %></span>
            <ul>
                <% results.each_with_index do |result, index| %>
                    <li>
                        <% each_with_borders(result.section_chain) do |section, index, last| %>
                            <a href="<%= section_path(section) %>"><%= section.title %></a>
                            <img src="/imp/bulletgradusnext.gif">
                        <% end %>
                        <a href="<%= result.path %>"><b><%= result.title %></b></a>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if(@pages > 1) %>
        <p>
            <% 0.upto(@pages - 1).each do |page| %>
                <% if page != @page_number %><a href="<%= url_for_params({:page => (page + 1), :words => @query}) %>"><% end %>
                <%= (page + 1).to_s %>
                <% if page != @page_number %></a><% end %>
				&nbsp;
            <% end %>
        </p>
    <% end %>
<% end %>
