<!DOCTYPE html>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8">
    <title>Главный заголовок</title>
    <meta name=keywords content="">
    <meta name=description content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" bgcolor="#ffffff" marginheight="0" marginwidth="0">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody>
<tr>
    <td height="27" valign="top">
        <div class="onmain">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#525252" height="27">
            <tbody><tr style="height: 27px; max-height: 27px;">
                <td width="116" style="height: 27px"><a href="/"><span class="toplink"><%= I18n.t('onmain') %></span>
                    <img width="116" border="0" height="27" alt="На главную" src="/imp/onmain.gif"></a></td>
                <td width="50">&nbsp;</td>
                <td width="240">
                    <div style="position: relative;">
                        <%
                           # locales
                           bold = ' style="font-weight: bold;"'.html_safe
                           lang1 = I18n.t('locales.ru')
                           lang1_url = url_for_params(:locale => :ru)
                           lang1_s = I18n.locale.to_s == 'ru' ? bold : ''
                           lang2 = I18n.t('locales.en')
                           lang2_url = url_for_params(:locale => :en)
                           lang2_s = I18n.locale.to_s == 'en' ? bold : ''
                        %>
                        <a href="<%= lang1_url %>"><span class="lang lang1"<%= lang1_s %>><%= lang1 %></span><img width="74" border="0" height="27" alt="" src="/imp/rus.gif"></a><a href="<%= lang2_url %>"><span class="lang lang2"<%= lang2_s %>><%= lang2 %></span><img width="101" border="0" height="27" alt="" src="/imp/eng.gif"></a>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            </tbody></table>
        </div>
    </td>
</tr>

<tr>
    <td height="156" valign="top">
        <table background="/imp/background2.jpg" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <td align="left" valign=bottom><img src="/imp/logo_<%= I18n.locale %>.gif" alt="<%= I18n.t('name') %>" border="0"></td>
                <td width=100% align="left">&nbsp;</td>
                <td style="background-image: url(/imp/mapfon.jpg) bottom left repeat-x">
                    <table  border="0" cellpadding="0" cellspacing="0">
                        <form method=post action="/search">
                            <tr><td rowspan="5" width="25">&nbsp;</td>
                                <td colspan="2" height="50">&nbsp;</td></tr>
                            <tr><td colspan="2" height="15" valign="top">
                                <span style="font-size: 12px; font-weight: bold;"><%= I18n.t('search.site_search') %></span></td></tr>
                            <tr><td height="27" width="126">
                                <input size="17" style="border-color: rgb(128, 158, 184); border-width: 1px; height: 22px;" name="words" type="text"></td><td>
                                <input type=image src="/imp/bulletform.gif" alt="" border="0" height="27" width="37"></td></tr>
                            <tr><td colspan="2" height="18" valign="top"></td></tr>
                        </form>
                    </table>
                </td></tr>
            </tbody>
        </table>
    </td>
</tr>

<tr>
    <td height="175" valign="top">
        <table background="/imp/fonviolet.gif" border="0" cellpadding="0" cellspacing="0" height="175" width="100%">
            <tbody><tr>
                <td width="730"><table background="/imp/fonpodlozhka.jpg" border="0" cellpadding="0" cellspacing="0" height="175" width="730"><tbody><tr><td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="ice3" align="" height="175" width="730"><param name="movie" value="ice3.swf"> <param name="quality" value="high"> <param name="wmode" value="transparent"> <param name="bgcolor" value="#FFFFFF"> <embed src="/imp/ice3.swf" quality="high" wmode="transparent" bgcolor="#FFFFFF" name="ice3" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="" height="175" width="730"></object>
                </td></tr></tbody></table></td>

                <td align="left" width="100%">
                </td>
                <td width="271"><div style="background-image: url(/imp/fontitlewithskala_about.jpg);">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="header_company_skala" align="" height="175" width="271">
                    <param name="movie" value="/header_company_skala.swf"> <param name="quality" value="high"> <param name="wmode" value="transparent"> <param name="bgcolor" value="#FFFFFF"> <embed src="/imp/header_company_skala.swf" quality="high" wmode="transparent" bgcolor="#FFFFFF" name="header_company_skala" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="" height="175" width="271">
                </object></div>
                </td></tr>
            </tbody></table>
    </td>
</tr>
<tr>
<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td height="100%" valign="top" width="240">

    <table style="background-position: right bottom; background-repeat: no-repeat;" background="/imp/background_menu_circles.jpg" border="0" cellpadding="0" cellspacing="0" height="100%" width="240">
        <tbody><tr>
            <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="240">
                    <tbody><tr><td valign="top">

                        <div id="masterdiv" style="width: 240px;">
                            <img src="/imp/conerleftup.gif" alt="" border="0" height="58" width="240">

                            <% Section.tree.each do |section|
                                children = section.children
                                selected = @section && (children.dup << section).index(@section)
                                %>
                                <div class="menutitle" onclick="SwitchMenu('sub<%= section.id %>')">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="/imp/menunotchosen.jpg" alt="" name="menuimg_2" border="0" height="29" width="50">
                                            </td>
                                            <td>
                                                <% if @section && section == @section %>
                                                    <div class="inactive-ref menu"><%= section.title %></div>
                                                <% else %>
                                                    <a href="<%= children.size == 0 ? section_path(section) : 'javascript:void'.html_safe %>" class="menu"><%= section.title %></a>
                                                <% end %>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <% if children.size > 0 %>
                                    <span class="submenu" id="sub<%= section.id %>" style="display: <%= selected ? 'block' : 'none'%>">
                                        <% children.each do |child| %>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/imp/menusub.jpg" alt="" border="0" height="29" width="39">
                                                    </td>
                                                    <td>
                                                        <% if @section && child == @section %>
                                                            <div class="inactive-ref submenu1"><%= child.title %></div>
                                                        <% else %>
                                                            <a href="<%= section_path(child) %>" class="submenu1"><%= child.title %></a>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        <% end %>
                                    </span>
                                <% end %>
                            <% end %>
                        </div>
                    </td></tr></tbody></table>

            </td>
        </tr>

        <tr>
            <td align="right" valign="bottom"><!-- FLASH - BOTTOM KARTA WITH RADAR --><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="background_menu_circles" align="" height="200" width="240"><param name="movie" value="/background_menu_circles.swf"> <param name="quality" value="high"> <param name="bgcolor" value="#FFFFFF"> <embed src="/imp/background_menu_circles.swf" quality="high" bgcolor="#FFFFFF" name="background_menu_circles" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="" height="200" width="240">
            </object></td>
        </tr>

        </tbody></table>


</td>



<td height="100%" valign="top" width="100%">
    <table style="background-position: left top; background-repeat: repeat-y;" background="/imp/fontext.gif" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody><tr>
            <td>
                <table style="background-position: center bottom; background-repeat: repeat-x;" background="/imp/fontextbottom.gif" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tbody><tr><td valign="top">

                        <table style="background-position: left bottom; background-repeat: no-repeat;" background="/imp/background_text_bottomcircles.gif" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                            <tbody><tr><td height="100%" valign="top">

                                <!-- gradusnik and header of page -->
                                <table background="/imp/fontitlepart1.gif" border="0" cellpadding="0" cellspacing="0" height="93" width="100%">
                                    <tbody><tr><td valign="top"><table style="background-position: left center; background-repeat: no-repeat;" background="/imp/fontitlepart.gif" border="0" cellpadding="0" cellspacing="0" height="93" width="100%">
                                        <tbody><tr>
                                            <td height="93" valign="top" width="100%">
                                                <div style="position: relative; height: 50px; top: 30px; left: 40px;">
                                                <% each_with_borders((@section || Section.main).chain(true)) do |section, index, last| %>
                                                    <a href="<%= section_path(section) %>" class=search><%= section.title %></a>&nbsp;
                                                    <% unless last %>
                                                        <img src="/imp/bulletgradusnext.gif" width=8 height=7 border=0>&nbsp;
                                                    <% end %>
                                                <% end %>
                                                </div>
                                            </td>
                                            <td width="75">
                                                <% if @page %>
                                                <div style="width: 75px; height: 93px;">
                                                    <div style="position: relative; top: 25px; left: 5px;">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <%
                                                               print_url = print_path(@page)
                                                            %>
                                                            <tbody><tr>
                                                                <td>
                                                                    <a href="<%= print_url %>" class="search" style="color: rgb(148, 147, 147);"><%= I18n.t('print') %></a>&nbsp;
                                                                </td>
                                                                <td>
                                                                    <a href="<%= print_url %>"><img src="/imp/iconprint.gif" alt="" border="0" height="23" width="25"></a>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </div>
                                                </div>
                                                <% end %>
                                            </td>
                                        </tr></tbody></table>
                                    </td></tr></tbody></table>


                                <table cellpading="0" border="0" cellspacing="0" height="400" width="100%">

                                    <tbody><tr><td colspan="2" height="20"></td></tr>
                                    <tr>
                                        <td width="40"></td>
                                        <td align="justify" height="100%" valign="top">
                                            <% unless notice.blank? %>
                                                <div class="alert alert-success">
                                                    <span><%= notice %></span>
                                                </div>
                                                <br/>
                                            <% end %>

                                            <% unless alert.blank? %>
                                                <div class="alert alert-danger">
                                                    <span><%= alert %></span>
                                                </div>
                                                <br/>
                                            <% end %>
                                            <div class="page">
                                                <%= yield %>
                                            </div>
                                        </td>
                                    </tr><tr><td height="40"></td></tr></tbody></table>
                            </td></tr></tbody></table></td>

                        <td width="15">&nbsp;<!-- margin --></td>
                        <td valign="top" width="254"> <!-- Anonce-->
                                        <!-- FLASH - UPPER KARTA WITH RADAR --><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="kartaright" align="" height="193" width="254"><param name="movie" value="/kartaright.swf"> <param name="quality" value="high"> <param name="bgcolor" value="#FFFFFF"> <embed src="/imp/kartaright.swf" quality="high" bgcolor="#FFFFFF" name="kartaright" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="" height="193" width="254"></object>
                                        <br>

                                        <table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td valign="top">


                                            <table border="0" cellpadding="5" cellspacing="0" width="254">
                                                <% if @section && @section.main? %>
                                                    <tbody>
                                                    <tr><td colspan="2"><span style="font-size: 12px; font-weight: bold;"><%= I18n.t('news_title') %></span></td></tr>

                                                    <tr><td><img style="border: 1px solid rgb(96, 96, 96);" src="/imp/news_marker.gif"></td></tr>
                                                    <tr><td style="font-size: 7pt; color: rgb(80, 80, 80);">16/01/2009 17:28 <a class=search style="text-decoration:none" href=index.php?page=106><FONT color=#663399 size=2><STRONG>Дворец Спорта-школа высшего олимпийского мастерства под руководством Е.А.Чайковской, г.Москва, р-он Строгино,пуск 2009г.</STRONG></FONT>
                                                        <P></P><a></td></tr>
                                                    </tbody>
                                                <% end %>
                                            </table>
                                        <br>
                                    </td>
                                </tr></tbody></table>
                        </td>
        </tr></tbody></table>
</td></tr></tbody></table>



</td></tr></tbody></table>

</td>


</tr>




<tr>
    <td height="66">

        <table background="/imp/fonbottom.gif" border="0" cellpadding="0" cellspacing="0" height="66" width="100%">
            <tbody><tr>
                <td align="center" width="240"><div class="copyright">Copyright © <a href="http://himholod.ru" class="copyright">ХимХолодСервис</a> 1998-2007<br></div></td>
                <td>&nbsp;</td>
                <td align="center" width="306"><!-- Yandex.Metrika -->
                    <script src="//mc.yandex.ru/resource/watch.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        try { var yaCounter233175 = new Ya.Metrika(233175); } catch(e){}
                    </script>
                    <noscript><div style="position: absolute;"><img src="//mc.yandex.ru/watch/233175" alt="" /></div></noscript>
                    <!-- /Yandex.Metrika --></td>
            </tr>
            </tbody></table>

    </td>
</tr>

</tbody></table>


<div style="position: absolute; left: 20px; top: 167px;">
    <img src="/imp/hhsline_<%= I18n.locale %>.gif" border="0">
</div>

</body>
</html>